 <style>
     .th{
         width: 250px;
          
         border-style: solid ;
     }
 </style>
 <%= month_calendar events: @events do |date, events| %>
  <b><u><%= date.month %>-<%= date.day %></u></b>

  <% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>
<% end %>